body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  margin: 0 auto;
  touch-action: none;
}
#arjsDebugUIContainer {
  display: none;
}

.a-enter-vr-button {
  display: none;
}

#logo {
  width: 25%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

#help_text {
  display: none;
  padding: 0.4rem;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  z-index: 999;
}

#submit_btn {
  background-color: #00aac8;
  border: none;
  width: 100%;
  display: table;
  margin: 0.3rem auto 0 auto;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem !important;
  font-weight: bold;
}

#error_msg {
  color: red;
}

#swal-text {
  text-align: center !important;
  font-family: "Open Sans", sans-serif;
}

#swal-button {
  text-align: center;
}

#info_btn {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: #333;
  font-size: 1.5rem;
  width: 40%;
}

.white-popup {
  position: relative;
  background: #fff;
  padding: 1.5rem;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

#product_title {
  text-align: center;
  margin: 0;
  padding: 0;
}

#closeBtn {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  width: 40%;
  margin: 1rem auto 0 auto;
  font-size: 1.2rem;
}

.mfp-wrap {
  position: fixed;
  overflow: auto;
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 0.5rem);
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 1rem;
  margin: 0.25rem 0;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  width: 50%;
  display: block;
}

#left_btn {
  height: 50px;
  width: 50px;
}

#right_btn {
  height: 50px;
  width: 50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#toggleBtn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  display: none;
  justify-content: space-between;
  width: 95%;
}

#shoe_overlay {
  position: absolute;
  left: 50%;
  top: 22.5%;
  transform: translate(-50%);
  width: 65%;
  height: 100%;
  display: none;
}

.shoe_overlay_image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#back_btn {
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 40px;
  height: 40px;
  display: none;
}

#style_selection {
  position: absolute;
  left: 5%;
  bottom: 15%;
  width: 40px;
  height: 40px;
  display: none;
  background-color: #fff;
  border-radius: 50%;
  display: none;
}

#black_overlay {
  background-color: #333;
  opacity: 0.3;
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 15%;
}

#style_selection_container {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
  height: 15%;
  padding: 1rem;
  overflow-x: scroll;
  overflow-y: none;
  white-space: nowrap;
}

#style_selection_container img {
  height: 100%;
  margin: 0 0.3rem;
}

#controller_container {
  position: absolute;
  bottom: 5%;
  display: grid;
  right: 5%;
  width: 40px;
  height: 40px;
}

.controller_icon {
  height: 100%;
  width: 100%;
}

#popup-2 {
  padding: 1rem;
  background-color: white;
  position: relative;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  width: 90%;
  height: 95%;
}

.video_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video_container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
